<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title id="page-title">Cyber Incidents</title>
<link rel="stylesheet" href="../styles.css">
<script defer src="country_template.js"></script>
</head>

<body>

<div class="page-wrapper">

    <div class="header-wrapper">
        <h1 class="pagetitle" id="country-title">Loading…</h1>

        <div class="topnav">
            <a href="../index.html">Home</a>
            <a class="active" id="country-link" href="#">Land</a>
        </div>
    </div>

    <div style="max-width: 900px; color: #eee; text-align: center; margin: auto;">
        <h2>Übersicht</h2>
        <p id="country-description"></p>
    </div>

</div>

<div id="country-data"></div>

<div class="chart-area" id="chart-area"></div>

</body>
</html>
